In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("10Alytics Hackathon- Fiscal Data.csv")

In [4]:
df.head()

,Country,Indicator,Source,Unit,Currency,Frequency,Country Code,Time,Amount
0,Egypt,Budget Deficit/Surplus,Central Bank of Egypt,Million,EGP,Yearly,EGY,2007-01-01,-56213
1,Egypt,Budget Deficit/Surplus,Central Bank of Egypt,Million,EGP,Yearly,EGY,2008-01-01,-67563
2,Egypt,Budget Deficit/Surplus,Central Bank of Egypt,Million,EGP,Yearly,EGY,2009-01-01,-72379
3,Egypt,Budget Deficit/Surplus,Central Bank of Egypt,Million,EGP,Yearly,EGY,2010-01-01,-98886
4,Egypt,Budget Deficit/Surplus,Central Bank of Egypt,Million,EGP,Yearly,EGY,2011-01-01,-134138

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23984 entries, 0 to 23983
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       23784 non-null  object
 1   Indicator     23784 non-null  object
 2   Source        23784 non-null  object
 3   Unit          23762 non-null  object
 4   Currency      13281 non-null  object
 5   Frequency     23784 non-null  object
 6   Country Code  23784 non-null  object
 7   Time          23780 non-null  object
 8   Amount        23725 non-null  object
dtypes: object(9)
memory usage: 1.6+ MB

In [5]:
df.Country.unique()

array(['Egypt', 'Ethiopia', 'Ghana', 'Ivory Coast', 'Nigeria',
       'South Africa', 'Tanzania', 'Togo', 'Senegal', 'Kenya', 'Rwanda',
       'Algeria', 'Angola', 'Botswana', nan], dtype=object)

In [7]:
df['Country'].isna().sum()

200

In [9]:
df.dropna(subset=['Country'])

,Country,Indicator,Source,Unit,Currency,Frequency,Country Code,Time,Amount
0,Egypt,Budget Deficit/Surplus,Central Bank of Egypt,Million,EGP,Yearly,EGY,2007-01-01,-56213
1,Egypt,Budget Deficit/Surplus,Central Bank of Egypt,Million,EGP,Yearly,EGY,2008-01-01,-67563
2,Egypt,Budget Deficit/Surplus,Central Bank of Egypt,Million,EGP,Yearly,EGY,2009-01-01,-72379
3,Egypt,Budget Deficit/Surplus,Central Bank of Egypt,Million,EGP,Yearly,EGY,2010-01-01,-98886
4,Egypt,Budget Deficit/Surplus,Central Bank of Egypt,Million,EGP,Yearly,EGY,2011-01-01,-134138
...,...,...,...,...,...,...,...,...,...
23779,Tanzania,Value Added Tax (VAT),"National Statistics Office, Tanzania",Billion,TZS,Yearly,TZA,2019-01-01,4781.6
23780,Tanzania,Value Added Tax (VAT),"National Statistics Office, Tanzania",Billion,TZS,Yearly,TZA,2020-01-01,5184
23781,Tanzania,Value Added Tax (VAT),"National Statistics Office, Tanzania",Billion,TZS,Yearly,TZA,2021-01-01,5218
23782,Tanzania,Value Added Tax (VAT),"National Statistics Office, Tanzania",Billion,TZS,Yearly,TZA,2022-01-01,6298
23783,Tanzania,Value Added Tax (VAT),"National Statistics Office, Tanzania",Billion,TZS,Yearly,TZA,2023-01-01,7067

In [11]:
df.Indicator.unique()

array(['Budget Deficit/Surplus', 'Capital Expenditure',
       'Consumer Price Index (CPI)', 'Defence Expenditure',
       'Education Expenditure', 'Expenditure', 'Exports',
       'Food Inflation ', 'Food Inflation YoY', 'GDP Growth Rate',
       'GDP per Capita', 'GDP per capita', 'GDP per Capita ',
       'Government Debt', 'Health Expenditure', 'Imports',
       'Inflation Rate', 'Inflation Rate ', 'Interest Rate',
       'Labour Force', 'Nominal GDP', 'Population', 'Real GDP', 'Revenue',
       'Tax Revenue', 'Unemployment Rate', 'Value Added Tax (VAT)', nan],
      dtype=object)

In [12]:
df.Unit.unique()

array(['Million', 'Millions', 'Billion', 'Billions', 'Points', 'points',
       'USD', '%', nan, 'Persons', 'Persons/%'], dtype=object)

In [16]:
for col in df.columns[:-1]:
    print("Column: ", col)
    print("Unique Entries: ", df[col].unique())

Column:  Country
Unique Entries:  ['Egypt' 'Ethiopia' 'Ghana' 'Ivory Coast' 'Nigeria' 'South Africa'
 'Tanzania' 'Togo' 'Senegal' 'Kenya' 'Rwanda' 'Algeria' 'Angola'
 'Botswana' nan]
Column:  Indicator
Unique Entries:  ['Budget Deficit/Surplus' 'Capital Expenditure'
 'Consumer Price Index (CPI)' 'Defence Expenditure'
 'Education Expenditure' 'Expenditure' 'Exports' 'Food Inflation '
 'Food Inflation YoY' 'GDP Growth Rate' 'GDP per Capita' 'GDP per capita'
 'GDP per Capita ' 'Government Debt' 'Health Expenditure' 'Imports'
 'Inflation Rate' 'Inflation Rate ' 'Interest Rate' 'Labour Force'
 'Nominal GDP' 'Population' 'Real GDP' 'Revenue' 'Tax Revenue'
 'Unemployment Rate' 'Value Added Tax (VAT)' nan]
Column:  Source
Unique Entries:  ['Central Bank of Egypt' 'National Bank of Ethiopia' 'Bank of Ghana'
 'Central Bank of West African States' 'Central Bank of Nigeria'
 'South African Reserve Bank' 'National Statistics Office, Tanzania'
 'Senegal Opendata for Africa' 'Central Bank of Kenya'
 'Ministry of Finance and Economic Planning, Rwanda'
 'Department of Statistics, South Africa.'
 'Senegal National statistical Site' 'Bank of Algeria'
 'National Bank of Angola' 'Ghana Statistical Service'
 'National Bureau of Statistics'
 'National Institute of Statistics of Rwanda'
 'Kenya National Bureau of Statistics' 'Bank of Tanzania'
 'Ministry of Planning and Economic Development, Egypt'
 'statistics Botswana' 'Debt Management Office, Nigeria'
 'National Bank of Rwanda' 'Bank of Botswana'
 'Department of Statistics, South Africa'
 'National Statistics Office, Algeria'
 'Central Agency for Public Mobilization and Statistics'
 'South African Revenue Service' nan]
Column:  Unit
Unique Entries:  ['Million' 'Millions' 'Billion' 'Billions' 'Points' 'points' 'USD' '%' nan
 'Persons' 'Persons/%']
Column:  Currency
Unique Entries:  ['EGP' 'ETB' 'GHS' 'XOF' 'NGN' 'ZAR' 'TZS' 'Ksh' 'RWF' nan 'USD' 'AOA'
 'BWP' 'DZD']
Column:  Frequency
Unique Entries:  ['Yearly' 'Monthly' 'Quarterly' nan]
Column:  Country Code
Unique Entries:  ['EGY' 'ETH' 'GHA' 'CIV' 'NGA' 'ZAF' 'TZA' 'TGO' 'SEN' 'KEN' 'RWA' 'DZA'
 'AGO' 'BWA' nan]
Column:  Time
Unique Entries:  ['2007-01-01' '2008-01-01' '2009-01-01' ... '2025-01-06' nan '2025-03-04']

In [25]:
import pandas as pd
import numpy as np

def clean_economic_data(df):
    """
    Thoroughly clean the economic dataset based on identified data quality issues.
    
    Parameters:
    -----------
    df : pandas.DataFrame
        The raw economic data
        
    Returns:
    --------
    pandas.DataFrame
        Cleaned dataset
    dict
        Cleaning report with statistics
    """
    df_clean = df.copy()
    initial_rows = len(df_clean)
    
    cleaning_report = {
        'initial_rows': initial_rows,
        'rows_removed': {},
        'standardizations': {}
    }
    
    # ==================== CLEAN COUNTRY ====================
    # Remove rows with missing Country
    null_countries = df_clean['Country'].isna().sum()
    df_clean = df_clean[df_clean['Country'].notna()]
    cleaning_report['rows_removed']['null_country'] = null_countries
    
    # Strip whitespace
    df_clean['Country'] = df_clean['Country'].str.strip()
    
    
    # ==================== CLEAN INDICATOR ====================
    # Remove rows with missing Indicator
    null_indicators = df_clean['Indicator'].isna().sum()
    df_clean = df_clean[df_clean['Indicator'].notna()]
    cleaning_report['rows_removed']['null_indicator'] = null_indicators
    
    # Strip whitespace from indicators
    df_clean['Indicator'] = df_clean['Indicator'].str.strip()
    
    # Standardize indicator names
    indicator_mapping = {
        'GDP per capita': 'GDP per Capita',
        'GDP per Capita ': 'GDP per Capita',
        'Inflation Rate ': 'Inflation Rate',
        'Food Inflation ': 'Food Inflation'
    }
    df_clean['Indicator'] = df_clean['Indicator'].replace(indicator_mapping)
    cleaning_report['standardizations']['indicators'] = indicator_mapping
    
    
    # ==================== CLEAN SOURCE ====================
    # Handle missing sources (keep rows but mark as Unknown)
    null_sources = df_clean['Source'].isna().sum()
    df_clean['Source'] = df_clean['Source'].fillna('Unknown')
    df_clean['Source'] = df_clean['Source'].str.strip()
    cleaning_report['standardizations']['null_sources_filled'] = null_sources
    
    
    # ==================== CLEAN UNIT ====================
    # Standardize Unit values
    unit_mapping = {
        'Millions': 'Million',
        'Billions': 'Billion',
        'points': 'Points',
        'Persons/%': 'Percent'
    }
    df_clean['Unit'] = df_clean['Unit'].replace(unit_mapping)
    df_clean['Unit'] = df_clean['Unit'].str.strip() if df_clean['Unit'].dtype == 'object' else df_clean['Unit']
    cleaning_report['standardizations']['units'] = unit_mapping
    
    
    # ==================== CLEAN CURRENCY ====================
    # Currency can be null for non-monetary indicators (like %, Points, Persons)
    # For monetary values, try to infer from Country
    
    # First, create a mapping of countries to their primary currencies
    country_currency_map = df_clean[df_clean['Currency'].notna()].groupby('Country')['Currency'].agg(
        lambda x: x.value_counts().index[0] if len(x) > 0 else None
    ).to_dict()
    
    def fill_currency(row):
        if pd.notna(row['Currency']):
            return row['Currency'].strip()
        
        # If Currency is missing, infer based on Unit type
        if row['Unit'] in ['%', 'Points', 'Percent']:
            return 'N/A'  # Not applicable for percentages/indices
        elif row['Unit'] == 'Persons':
            return 'N/A'  # Not applicable for population counts
        elif row['Unit'] == 'USD':
            return 'USD'  # Unit itself indicates USD
        elif row['Unit'] in ['Million', 'Billion']:
            # For monetary values, try to use country's primary currency
            if row['Country'] in country_currency_map:
                return country_currency_map[row['Country']]
            else:
                return 'Unknown'
        else:
            return 'Unknown'
    
    # Track currency fills before applying
    currency_fill_summary = df_clean[df_clean['Currency'].isna()].groupby('Unit')['Unit'].count().to_dict()
    
    # Apply currency filling
    df_clean['Currency'] = df_clean.apply(fill_currency, axis=1)
    
    # Count how many monetary values still have Unknown currency
    unknown_monetary = df_clean[
        (df_clean['Currency'] == 'Unknown') & 
        (df_clean['Unit'].isin(['Million', 'Billion']))
    ].shape[0]
    
    cleaning_report['standardizations']['currency_fills_by_unit'] = currency_fill_summary
    cleaning_report['standardizations']['monetary_values_inferred'] = (
        currency_fill_summary.get('Million', 0) + 
        currency_fill_summary.get('Billion', 0) + 
        currency_fill_summary.get('USD', 0) - 
        unknown_monetary
    )
    cleaning_report['warnings'] = {
        'unknown_monetary_currencies': unknown_monetary
    }
    
    
    # ==================== CLEAN FREQUENCY ====================
    # Remove rows with missing Frequency (important for time series)
    null_frequency = df_clean['Frequency'].isna().sum()
    df_clean = df_clean[df_clean['Frequency'].notna()]
    df_clean['Frequency'] = df_clean['Frequency'].str.strip()
    cleaning_report['rows_removed']['null_frequency'] = null_frequency
    
    
    # ==================== CLEAN COUNTRY CODE ====================
    # Remove rows with missing Country Code
    null_codes = df_clean['Country Code'].isna().sum()
    df_clean = df_clean[df_clean['Country Code'].notna()]
    df_clean['Country Code'] = df_clean['Country Code'].str.strip()
    cleaning_report['rows_removed']['null_country_code'] = null_codes
    
    
    # ==================== CLEAN TIME ====================
    # Remove rows with missing Time
    null_time = df_clean['Time'].isna().sum()
    df_clean = df_clean[df_clean['Time'].notna()]
    cleaning_report['rows_removed']['null_time'] = null_time
    
    # Convert to datetime
    df_clean['Time'] = pd.to_datetime(df_clean['Time'], errors='coerce')
    
    # Remove any rows where datetime conversion failed
    failed_time = df_clean['Time'].isna().sum()
    df_clean = df_clean[df_clean['Time'].notna()]
    cleaning_report['rows_removed']['invalid_time'] = failed_time
    
    
    # ==================== CLEAN AMOUNT ====================
    # Convert Amount to numeric
    df_clean['Amount'] = pd.to_numeric(df_clean['Amount'], errors='coerce')
    
    # Remove rows where Amount is null (can't have economic data without values)
    null_amount = df_clean['Amount'].isna().sum()
    df_clean = df_clean[df_clean['Amount'].notna()]
    cleaning_report['rows_removed']['null_or_invalid_amount'] = null_amount
    
    
    # ==================== REMOVE DUPLICATES ====================
    # Check for exact duplicates
    duplicates = df_clean.duplicated().sum()
    df_clean = df_clean.drop_duplicates()
    cleaning_report['rows_removed']['exact_duplicates'] = duplicates
    
    
    # ==================== SORT DATA ====================
    df_clean = df_clean.sort_values(['Country', 'Indicator', 'Time']).reset_index(drop=True)
    
    
    # ==================== FINAL REPORT ====================
    cleaning_report['final_rows'] = len(df_clean)
    cleaning_report['total_rows_removed'] = initial_rows - len(df_clean)
    cleaning_report['data_retention_rate'] = f"{(len(df_clean) / initial_rows * 100):.2f}%"
    
    return df_clean, cleaning_report


def print_cleaning_report(report):
    """
    Print a formatted cleaning report.
    
    Parameters:
    -----------
    report : dict
        Cleaning report from clean_economic_data
    """
    print("=" * 60)
    print("DATA CLEANING REPORT")
    print("=" * 60)
    print(f"\nInitial rows: {report['initial_rows']:,}")
    print(f"Final rows: {report['final_rows']:,}")
    print(f"Total rows removed: {report['total_rows_removed']:,}")
    print(f"Data retention rate: {report['data_retention_rate']}")
    
    print("\n" + "-" * 60)
    print("ROWS REMOVED BY REASON:")
    print("-" * 60)
    for reason, count in report['rows_removed'].items():
        if count > 0:
            print(f"  {reason.replace('_', ' ').title()}: {count:,}")
    
    print("\n" + "-" * 60)
    print("STANDARDIZATIONS APPLIED:")
    print("-" * 60)
    for category, mapping in report['standardizations'].items():
        if category == 'currency_fills_by_unit':
            print(f"\n  Currency Fills by Unit:")
            total_fills = 0
            for unit, count in mapping.items():
                print(f"    {unit}: {count:,}")
                total_fills += count
            print(f"    TOTAL: {total_fills:,}")
        elif category == 'monetary_values_inferred':
            print(f"  Monetary currencies inferred from country: {mapping:,}")
        elif isinstance(mapping, dict) and mapping and category != 'currency_fills_by_unit':
            print(f"\n  {category.replace('_', ' ').title()}:")
            for old, new in mapping.items():
                print(f"    '{old}' → '{new}'")
        elif isinstance(mapping, int) and mapping > 0:
            print(f"  {category.replace('_', ' ').title()}: {mapping}")
    
    # Show warnings if any
    if 'warnings' in report and report['warnings']:
        print("\n" + "-" * 60)
        print("⚠️  WARNINGS:")
        print("-" * 60)
        for warning, value in report['warnings'].items():
            if value > 0:
                print(f"  {warning.replace('_', ' ').title()}: {value:,}")
                if warning == 'unknown_monetary_currencies':
                    print(f"    → These monetary values lack currency information")
                    print(f"    → Consider manual review or additional data sources")
    
    print("\n" + "=" * 60)


def query_economic_data(df, country=None, indicator=None, start_date=None, end_date=None, frequency=None):
    """
    Query economic data with flexible filtering options.
    
    Parameters:
    -----------
    df : pandas.DataFrame
        The cleaned economic dataset
    country : str or list of str, optional
        Country name(s) to filter. If None, returns all countries.
    indicator : str or list of str, optional
        Indicator name(s) to filter. If None, returns all indicators.
    start_date : str or datetime, optional
        Start date for time filtering (format: 'YYYY-MM-DD')
    end_date : str or datetime, optional
        End date for time filtering (format: 'YYYY-MM-DD')
    frequency : str, optional
        Data frequency ('Yearly', 'Monthly', 'Quarterly')
        
    Returns:
    --------
    pandas.DataFrame
        Filtered dataset
    """
    result = df.copy()
    
    # Filter by country
    if country is not None:
        if isinstance(country, str):
            result = result[result['Country'] == country]
        elif isinstance(country, list):
            result = result[result['Country'].isin(country)]
    
    # Filter by indicator
    if indicator is not None:
        if isinstance(indicator, str):
            result = result[result['Indicator'] == indicator]
        elif isinstance(indicator, list):
            result = result[result['Indicator'].isin(indicator)]
    
    # Filter by frequency
    if frequency is not None:
        result = result[result['Frequency'] == frequency]
    
    # Filter by date range
    if start_date is not None:
        result = result[result['Time'] >= pd.to_datetime(start_date)]
    if end_date is not None:
        result = result[result['Time'] <= pd.to_datetime(end_date)]
    
    return result.reset_index(drop=True)


def get_available_indicators(df, country=None):
    """Get list of available indicators, optionally filtered by country."""
    if country is not None:
        df_filtered = df[df['Country'] == country]
    else:
        df_filtered = df
    return sorted(df_filtered['Indicator'].unique().tolist())


def get_available_countries(df, indicator=None):
    """Get list of available countries, optionally filtered by indicator."""
    if indicator is not None:
        df_filtered = df[df['Indicator'] == indicator]
    else:
        df_filtered = df
    return sorted(df_filtered['Country'].unique().tolist())


def get_data_summary(df):
    """
    Get a comprehensive summary of the dataset.
    
    Parameters:
    -----------
    df : pandas.DataFrame
        The economic dataset
        
    Returns:
    --------
    dict
        Summary statistics
    """
    summary = {
        'total_records': len(df),
        'countries': df['Country'].nunique(),
        'indicators': df['Indicator'].nunique(),
        'date_range': (df['Time'].min(), df['Time'].max()),
        'frequencies': df['Frequency'].value_counts().to_dict(),
        'country_list': sorted(df['Country'].unique().tolist()),
        'indicator_list': sorted(df['Indicator'].unique().tolist())
    }
    return summary


df = pd.read_csv('10Alytics Hackathon- Fiscal Data.csv')
# Clean the data
df_clean, report = clean_economic_data(df)
print_cleaning_report(report)
    
    # Get summary
summary = get_data_summary(df_clean)
print(f"\nCountries: {summary['countries']}")
print(f"Indicators: {summary['indicators']}")
print(f"Date range: {summary['date_range'][0]} to {summary['date_range'][1]}")
    
    # Query examples
    # egypt_gdp = query_economic_data(df_clean, country='Egypt', indicator='GDP Growth Rate')
    # africa_inflation = query_economic_data(df_clean, indicator='Inflation Rate', start_date='2020-01-01')

============================================================
DATA CLEANING REPORT
============================================================

Initial rows: 23,984
Final rows: 23,276
Total rows removed: 708
Data retention rate: 97.05%

------------------------------------------------------------
ROWS REMOVED BY REASON:
------------------------------------------------------------
  Null Country: 200
  Null Time: 4
  Null Or Invalid Amount: 502
  Exact Duplicates: 2

------------------------------------------------------------
STANDARDIZATIONS APPLIED:
------------------------------------------------------------

  Indicators:
    'GDP per capita' → 'GDP per Capita'
    'GDP per Capita ' → 'GDP per Capita'
    'Inflation Rate ' → 'Inflation Rate'
    'Food Inflation ' → 'Food Inflation'

  Units:
    'Millions' → 'Million'
    'Billions' → 'Billion'
    'points' → 'Points'
    'Persons/%' → 'Percent'

  Currency Fills by Unit:
    %: 7,318
    Persons: 407
    Points: 2,548
    USD: 230
    TOTAL: 10,503
  Monetary currencies inferred from country: 230

------------------------------------------------------------
⚠️  WARNINGS:
------------------------------------------------------------

============================================================

Countries: 14
Indicators: 24
Date range: 1960-01-01 00:00:00 to 2025-09-01 00:00:00

In [26]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23276 entries, 0 to 23275
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       23276 non-null  object
 1   Indicator     23276 non-null  object
 2   Source        23276 non-null  object
 3   Unit          23276 non-null  object
 4   Currency      23276 non-null  object
 5   Frequency     23276 non-null  object
 6   Country Code  23276 non-null  object
 7   Time          23276 non-null  datetime64[ns]
 8   Amount        23276 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 1.6+ MB

In [28]:
for col in df_clean.columns[:-1]:
    print(col)
    print(df[col].unique())

Country
['Egypt' 'Ethiopia' 'Ghana' 'Ivory Coast' 'Nigeria' 'South Africa'
 'Tanzania' 'Togo' 'Senegal' 'Kenya' 'Rwanda' 'Algeria' 'Angola'
 'Botswana' nan]
Indicator
['Budget Deficit/Surplus' 'Capital Expenditure'
 'Consumer Price Index (CPI)' 'Defence Expenditure'
 'Education Expenditure' 'Expenditure' 'Exports' 'Food Inflation '
 'Food Inflation YoY' 'GDP Growth Rate' 'GDP per Capita' 'GDP per capita'
 'GDP per Capita ' 'Government Debt' 'Health Expenditure' 'Imports'
 'Inflation Rate' 'Inflation Rate ' 'Interest Rate' 'Labour Force'
 'Nominal GDP' 'Population' 'Real GDP' 'Revenue' 'Tax Revenue'
 'Unemployment Rate' 'Value Added Tax (VAT)' nan]
Source
['Central Bank of Egypt' 'National Bank of Ethiopia' 'Bank of Ghana'
 'Central Bank of West African States' 'Central Bank of Nigeria'
 'South African Reserve Bank' 'National Statistics Office, Tanzania'
 'Senegal Opendata for Africa' 'Central Bank of Kenya'
 'Ministry of Finance and Economic Planning, Rwanda'
 'Department of Statistics, South Africa.'
 'Senegal National statistical Site' 'Bank of Algeria'
 'National Bank of Angola' 'Ghana Statistical Service'
 'National Bureau of Statistics'
 'National Institute of Statistics of Rwanda'
 'Kenya National Bureau of Statistics' 'Bank of Tanzania'
 'Ministry of Planning and Economic Development, Egypt'
 'statistics Botswana' 'Debt Management Office, Nigeria'
 'National Bank of Rwanda' 'Bank of Botswana'
 'Department of Statistics, South Africa'
 'National Statistics Office, Algeria'
 'Central Agency for Public Mobilization and Statistics'
 'South African Revenue Service' nan]
Unit
['Million' 'Millions' 'Billion' 'Billions' 'Points' 'points' 'USD' '%' nan
 'Persons' 'Persons/%']
Currency
['EGP' 'ETB' 'GHS' 'XOF' 'NGN' 'ZAR' 'TZS' 'Ksh' 'RWF' nan 'USD' 'AOA'
 'BWP' 'DZD']
Frequency
['Yearly' 'Monthly' 'Quarterly' nan]
Country Code
['EGY' 'ETH' 'GHA' 'CIV' 'NGA' 'ZAF' 'TZA' 'TGO' 'SEN' 'KEN' 'RWA' 'DZA'
 'AGO' 'BWA' nan]
Time
['2007-01-01' '2008-01-01' '2009-01-01' ... '2025-01-06' nan '2025-03-04']

In [29]:
df_clean.to_csv("data.csv", index=False)